.venv
**/.venv
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache
.mypy_cache
**/.mypy_cache
*.pyc
**/*.pyc
*.db
*.db-shm
*.db-wal
*.egg-info
**/*.egg-info
build
dist
.DS_Store
.env*
!.env.example
